<!DOCTYPE html>
<html lang="en">
<head>
  {{>headerLinks}}
</head>
<body>
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main-header">
      <div class="row">   
        <div class="col-md-10 col-12 mx-auto">

              <div class="row no-gutters">

                <!-- left side div -->
                <div class=" main_header_left align-items-center">                                            
                  <p>Welcome To My Mini Project</p>
                  <h1>{{errorMsg}}</h1>
                  <a href="/"><button>Go Home</button></a>
                
                </div>
                <!-- right side div -->
                 <div class="col-md-6 col-12 main_header_right">
                    <figure>
                        <img src="images/error.jpg" alt="ADITYA" class="img-fluid " title="ADITYA NANDY">
                    </figure>
                </div>

              </div>
        </div>
      </div>
    </div>

    <!-- footer area -->
    {{>footer}}
</body>
</html>