<!DOCTYPE html>
<html lang="en">
<head>
  {{>headerLinks}}
</head>
<body>
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main-header">
      <div class="row">   
        <div class="col-md-10 col-12 mx-auto">

              <div class="row no-gutters">

                <!-- left side div -->
                <div class="col-md-6 col-12 main_header_left align-items-center">                                            
                  <p>Wealcome To My Mini Project</p>
                  <h1>Hi, I Am <span> Aditya Nandy </span></h1>
                  <a href="https://steamcommunity.com/id/aditya_013/"><button>Connect Steam</button></a>
                  <a href="https://www.youtube.com/@a3itya750/streams"><button>Connect YouTube</button></a>
                  <a href="https://www.linkedin.com/in/aditya-nandy-97081824b/"><button>Connect LinkedIN</button></a>
                </div>

                <!-- right side div -->
                <div class="col-md-6 col-12 main_header_right">
                    <figure>
                        <img src="images/[removal.ai]_tmp-63f3352c27b9a.png" alt="ADITYA" class="img-fluid " title="">
                    </figure>
                </div>

              </div>
        </div>
      </div>
    </div>

    <!-- footer area -->
    {{>footer}}
</body>
</html>